@model CQRSProject.MediatorDesignPattern.Commands.CreateCustomerCommand

@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateCustomer</title>
</head>
<body>
    <div class="container">
        <br />
        <h4>Müşteri Ekle</h4>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="CreateCustomer">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Müşteri Adı</label>
                        <input asp-for="Name" class="form-control" />
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Surname" class="control-label">Müşteri Soyadı</label>
                        <input asp-for="Surname" class="form-control" />
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Department" class="control-label">Departman</label>
                        <input asp-for="Department" class="form-control" />
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                    <br />
                </form>
            </div>
        </div>
    </div>

</body>
</html>
