@model CQRSProject.CQRSPattern.Commands.CreateCategoryCommand

@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <form method="post">
        <label>Kategori Adı</label>
        <br /> 
        <input type="text" asp-for="CategoryName" class="form-control" />
        <br />
        <button class="btn btn-outline-success">Kaydet</button>
    </form>
</div>